<form *ngIf="allowFilter" class="mb-2">
  <input
    type="search"
    class="form-control"
    autocomplete="false"
    placeholder="Type to filter..."
    [ngModel]="searchTerm"
    [ngModelOptions]="{ standalone: true }"
    (ngModelChange)="search$.next($event)"
  />
</form>

<div class="list-group mx-0">
  <label *ngFor="let listItem of filteredItems" class="list-group-item d-flex gap-2">
    <input
      class="form-check-input flex-shrink-0"
      type="checkbox"
      [(ngModel)]="listItem.value"
      (ngModelChange)="onListChange()"
    />
    <span>
      {{ listItem.name }}
      <small class="d-block text-muted">{{ listItem.description }}</small>
    </span>
  </label>
</div>
